# Ambientes virtuais
ambi/
# Arquivos que você ignorou
ambi.txt

# Corrigido o nome do arquivo que provavelmente queria ignorar
Datathon - fase.txt.txt

# Arquivos comuns de Python que devem ser ignorados
__pycache__/
*.pyc
.ipynb_checkpoints/

# MLOps & Arquivos de Dados
mlruns/
*.db
*.skops
build/
*.csv
.dvc/
.venv
.env

# Distribuição / Empacotamento
*.egg-info/

# Airflow
airflow/airflow.cfg
airflow/webserver_config.py
airflow/logs/
airflow/airflow.db
airflow/*.pid
airflow/*.err
airflow/*.out