# Datathon Fase 05 - Dependências de Produção
# Nota: Este arquivo é sincronizado com o pyproject.toml

a2wsgi
accelerate
datasets
evidently
fastapi
langchain
langchain-community
langchain-openai
langgraph
mlflow
openai
pandas
pandera
presidio-analyzer
presidio-anonymizer
python-dotenv
ragas
scikit-learn
seaborn
skops
torch
transformers
uvicorn

# Instala o projeto local em modo editável
-e .